<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
			<%= gravatar_for @user %>
			<%= @user.login %>, <%= @user.jobID %>
			</h1>
		</td>
		<td class="sidebar round">
			<strong>Job:</strong> <%= @user.login %><br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %>
		</td>
	</tr>
</table>