<% form_for ([@team, @team.players.find(params[:id])]) do |f| %>
		<div class="field">
			<%= f.label :foot %>
			<%= f.text_field :foot %>
		</div>
		<%= f.fields_for :user do |user| %>
			<%= render 'user_fields', :f => user %>
		<% end %>
		<div class="actions">
			<%= f.submit "Update" %>
		</div>
<% end %>