<!DOCTYPE html>
<html>
  <head>
    <title>Soccer Manager</title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">
    <%= render 'layouts/header' %>
	<table border="0" cellspacing="5" cellpadding="5">
	<tr><td width="15%"><section class="divisionsidebar"><%= render 'layouts/divisionsidebar' %></section></td>
	<td><section class="round">
		<% flash.each do |key, value| %>
			<div class="flash <% key%>"> <%= value %></div>
		<% end %>
      <%= yield %>
    </section>
    </td>
	</tr>
</table>
	  <%= render 'layouts/footer'%>
	  <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
